.caption {
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 22px;
  text-align: center;
  color: @white;
  background-size: 320px 305px;
  background-size: 100%;
  background-position: center top;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
}

@media  (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .caption {
    background-image: url(../img/index-background-mobile@2x.jpg);
  }
}

.caption__title {
  width: 280px;
  .reset-center();
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.caption__slogan {
  .reset();
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.caption__img {
  width: 280px;
  height: 271px;
}

.caption__link {
  display: block;
  width: 280px;
  .center();
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  background-color: #68b738;
}

@media (min-width: @tablet-width) {
  .caption {
    position: relative;
    height: 840px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    text-align: left;
    color: @black;
    // background-size: 320px 305px;
    // background-position: center top;
    background-image: none;
    // background-repeat: no-repeat;
  }

  @media  (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .caption {
      background-image: none;
    }
  }

  .caption__title {
    width: 427px;
    margin-left: 88px;
    margin-bottom: 42px;
    // font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .caption__slogan {
    width: 295px;
    .reset();
    margin-left: 88px;
    margin-bottom: 44px;
    font-size: 20px;
    line-height: 20px;
    // text-transform: uppercase;
  }

  .caption__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 709px;
    height: 609px;
    transform: translateX(-50%);
  }

  .caption__link {
    // display: block;
    width: 244px;
    margin-left: 90px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    // text-transform: uppercase;
    // background-color: #68b738;
  }
}

@media (min-width: @desktop-width) {
  .caption {
    height: auto;
    min-height: 670px;
    // position: relative;
    // padding: 20px;
    // padding-top: 25px;
    // padding-bottom: 22px;
    padding: 0 40px;
    padding-top: 95px;
    // text-align: center;
    // color: @white;
    // background-size: 320px 305px;
    // background-position: center top;
    // background-image: url(../img/index-background-desktop@1x.jpg);
    // background-repeat: no-repeat;
    // border: 1px solid blue;
  }

  @media  (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .caption {
      // background-image: url(../img/index-background-desktop@2x.jpg);
    }
  }

  .caption__title {
    width: 420px;
    margin-left: 83px;
    margin-bottom: 49px;
    // font-weight: 400;
    // font-size: 60px;
    // line-height: 60px;
  }

  .caption__slogan {
    // width: 295px;
    // .reset();
    margin-left: 83px;
    margin-bottom: 50px;
    // font-size: 20px;
    // line-height: 20px;
    // text-transform: uppercase;
  }

  .caption__img {
    // position: absolute;
    // bottom: 0;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 680px;
    height: auto;
    transform: translateX(-208px);
  }

  .caption__link {
    // display: block;
    // width: 244px;
    margin-left: 83px;
    // padding: 16px 0;
    // font-size: 20px;
    // line-height: 20px;
    // text-align: center;
    // text-transform: uppercase;
    // background-color: #68b738;
  }
}
