.categories {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
}

.categories__list {
  .reset();
  list-style: none;
}

.categories__item {
  position: relative;
  .reset();
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  background-color: #f2f2f2;
}

.categories__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  z-index: 5;
}

.categories__item::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 30px;
  width: 37px;
  height: 50px;
  background-image: url(../img/icon-cat-slim.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 6;
}

.categories__item--last {
  margin-bottom: 0;

  &.categories__item::after {
    top: 35px;
    left: 13px;
    width: 68px;
    height: 30px;
    background-image: url(../img/icon-cat-pro.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 6;
  }
}

.categories__item-title {
  .reset();
  margin-bottom: 20px;
  padding-left: 72px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.categories__item-text {
  .reset();
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #eaeaea;
}

.categories__item-link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.categories__item-link-icon {
  display: inline-block;
  width: 24px;
  height: 0.9em;
  margin-left: 8px;
  background-image: url(../img/icon-right-arrow-long.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .categories {
    padding-left: 30px;
    padding-right: 30px;
  }

  .categories__item {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 281px;
    padding-bottom: 61px;
  }

  .categories__item::before {
    top: 92px;
    left: auto;
    right: 61px;
    width: 200px;
    height: 200px;
  }

  .categories__item::after {
    top: 80px;
    left: auto;
    right: 92px;
    width: 141px;
    height: 194px;
  }

  .categories__item--last {
    padding-right: 315px;

    &.categories__item::after {
      top: 135px;
      left: auto;
      right: 27px;
      width: 270px;
      height: 113px;
    }
  }

  .categories__item-title {
    margin-bottom: 25px;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 36px;
  }

  .categories__item-text {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .categories__item-link {
    font-size: 20px;
    line-height: 20px;
  }

  .categories__item-link-icon {
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0;
  }

  .categories__item {
    align-self: stretch;
    width: 570px;
    margin-bottom: 0;
    padding-top: 76px;
    padding-left: 52px;
    padding-right: 50px;
    padding-bottom: 60px;
  }

  .categories__item::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .categories__item::after {
    top: 41px;
    left: 66px;
    width: 70px;
    height: 97px;
  }

  .categories__item--last {

    &.categories__item::after {
      top: 70px;
      left: 34px;
      width: 134px;
      height: 56px;
    }
  }

  .categories__item-title {
    margin-bottom: 75px;
    margin-left: 162px;
    padding-bottom: 0;
  }

  .categories__item-text {
    margin-bottom: 11px;
  }
}
