.example {
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: #f2f2f2;
}

.example__title {
  .reset();
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  margin-bottom: 32px;
}

.example__description-text {
  .reset();
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 25px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.example__feature-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  .reset-center();
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.example__feature-item {
  .reset();
}

.example__feature-title,
.example__feature-ratio {
  .reset();
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__feature-item--weight,
.example__feature-item--time {
  position: relative;

  .example__feature-ratio {
    width: 124px;
    padding: 13px 5px;
    padding-bottom: 17px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
  }

  .example__feature-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    width: 95px;
    padding: 0 20px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: lowercase;
    color: #444444;
    background-color: #f2f2f2;
    transform: translate(-50%, 60%);
  }
}

.example__feature-item--money {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 35px;

  .example__feature-title {
    margin-right: 3px;
  }
}

.example__image-wrapper {
  position: relative;
  width: 100%;
  max-width: 320px;
  .center();
  margin-bottom: 32px;
}

.example__image-before-wrapper {
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
  z-index: 5;
  clip: rect(auto, 320px, auto, 0);
  background-color: #f2f2f2;
}

.example__image--after {
  width: 320px;
  height: auto;
}

.example__effect-level {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-basis: 1em;
  max-width: 480px;
  .center();
  padding-left: 64px;
  padding-right: 59px;
}

.example__effect-value {
  display: none;
}

.example__effect-state {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.example__effect-line {
  flex-grow: 1;
  position: relative;
  min-width: 84px;
  height: 14px;
  margin-left: 18px;
  margin-right: 19px;
  background-color: @white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__effect-pin {
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 5;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 2px;
  transform: translateY(-50%);
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 0;
    background-color: @white;
    border-top: 1px solid #e6e6e6;
  }

  .example__title {
    margin-bottom: 65px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 60px;
  }

  .example__description {
    margin-bottom: 90px;
  }

  .example__description-text {
    margin-bottom: 53px;
    padding-left: 30px;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__feature-list {
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__feature-title,
  .example__feature-ratio {
    font-size: 16px;
    line-height: 24px;
  }

  .example__feature-item--weight {
    margin-right: 42px;
  }

  .example__feature-item--weight,
  .example__feature-item--time {

    .example__feature-ratio {
      width: 162px;
      padding: 14px 5px 17px 5px;
      font-size: 30px;
      line-height: 37px;
    }

    .example__feature-title {
      width: 137px;
      padding: 0;
      font-size: 14px;
      line-height: 14px;
      background-color: @white;
      transform: translate(-50%, 45%);
    }
  }

  .example__feature-item--weight {

    .example__feature-title {
      width: 115px;
    }
  }

  .example__feature-item--money {
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 192px;
    margin-top: 0;
    margin-left: auto;

    .example__feature-title {
      margin-bottom: 9px;
    }

    .example__feature-title,
    .example__feature-ratio {
      margin-right: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .example__visual {
    position: relative;
    background: linear-gradient(180deg, #ffffff 26%, #eaeaea 26%, #eaeaea 100%);
  }

  .example__image-wrapper {
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 118px;
  }

  .example__image-before-wrapper {
    width: 100%;
    padding-bottom: 118px;
    clip: rect(auto, 384px, auto, 0);
    background: linear-gradient(180deg, #ffffff 26%, #f2f2f2 26%, #f2f2f2 100%);
  }

  .example__image--before {
    display: block;
    width: 690px;
    .center();
  }

  .example__image-after-wrapper {

  }

  .example__image--after {
    display: block;
    width: 690px;
    .reset-center();
  }

  .example__effect-level {
    position: absolute;
    bottom: 74px;
    left: 50%;
    z-index: 6;
    max-width: 100%;
    width: 571px;
    padding-left: 0;
    padding-right: 0;
    transform: translateX(-50%);
  }

  .example__effect-state {
    position: relative;
    padding: 0;
    font-size: 20px;
  }

  .example__effect-state::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px dotted #b8b8b8;
  }

  .example__effect-line {
    flex-grow: 0;
    width: 428px;
    height: 6px;
    margin-left: 23px;
    margin-right: 20px;
    background-color: #dcdcdc;
    border: none;
  }

  .example__effect-pin {
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    background-color: @white;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 #cfcfcf;
  }

  .example__effect-pin::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 8px;
    height: 8px;
    background-color:  #68b738;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    min-height: 650px;
    padding-top: 19px;
    border-top: none;
  }

  .example__title {
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 5;
    width: 570px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 60px;
    text-align: left;
  }

  .example__description {
    position: absolute;
    top: 280px;
    left: 0;
    z-index: 5;
    width: 570px;
    margin-bottom: 0;
  }

  .example__description-text {
    padding-left: 40px;
    padding-right: 95px;
    margin-bottom: 68px;
  }

  .example__feature-list {
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__feature-item--weight,
  .example__feature-item--time {

    .example__feature-ratio {
      padding-bottom: 18px;
    }

    .example__feature-title {
      background-color: #f2f2f2;
    }
  }

  .example__feature-item--money {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 62px;

    .example__feature-title {
      margin-right: 63px;
    }
  }

  .example__visual {
    bottom: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(180deg, #ffffff 29%, #f2f2f2 29%, #f2f2f2 100%);
  }

  .example__image-wrapper {
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .example__image-before-wrapper {
    width: 690px;
    left: auto;
    right: 0;
    padding-bottom: 135px;
    clip: rect(auto, 365px, auto, 0);
    background: linear-gradient(180deg, #ffffff 29%, #f2f2f2 29%, #f2f2f2 100%);
  }

  .example__image--before {
    display: block;
    width: 690px;
    .center();
  }

  .example__image-after-wrapper {
    width: 690px;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 135px;
    background: linear-gradient(180deg, #ffffff 29%, #eaeaea 29%, #eaeaea 100%);
  }

  .example__image--after {
    display: block;
    width: 690px;
    .reset-center();
  }

  .example__effect-level {
    left: auto;
    right: 40px;
    transform: translateX(0);
  }
}
