@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: @mobile-width;
  max-width: @tablet-width;
  // width: 320px;
  .reset-center();
  font-weight: @font-weight-base;
  font-size: @font-size-base;
  font-family: @font-family-base;
  color: @black;
  background-color:@white;
  // background-color: aquamarine;
  box-shadow: 0 0 2px 0 #333333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

// For SVG SPRITE
// .st0 {
//   fill: #FDC305;
// }
// .st1 {
//   fill: #F06351;
// }
// .st2 {
//   fill: #E55645;
// }
// .st3 {
//   fill: #111111;
// }
// .st4 {
//   fill: #444444;
// }

@media (min-width: @tablet-width) {
  body {
    // max-width: @desktop-width;
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    position: relative;
    width: 100%;
    max-width: 1300px;
    // background-size: 680px auto;
    // background-image: url(../img/index-background-desktop@1x.jpg);
    // background-position: 645px top;
    // background-repeat: no-repeat;
  }

  .body-bg-desktop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 610px;
    height: 696px;
    background-size: 680px 696px;
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-position: left top;
    background-repeat: no-repeat;
  }

  @media  (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .body-bg-desktop {
      background-image: url(../img/index-background-mobile@2x.jpg);
    }
  }
}
